{{ define "main" -}}
  <h1 class="title">{{ .Title }}</h1>
  <p class="subtitle">{{ i18n "section.read.on_date" (dict "Date" (.Date | dateFormat "2006-01-02")) }}
    {{- with .Params.link }} • <a href="{{ . }}">🛍</a>{{ end -}}
  </p>

  <dl class="content">
    {{ with .Params.authors -}}
      <dt>{{ i18n "section.read.author" (len .) }}</dt>
      <dd>{{ default . (delimit . ", ") }}</dd>
    {{- end }}
    {{ with .Params.format -}}
      <dt>{{ i18n "section.read.format" }}</dt>
      <dd>{{ . }}</dd>
    {{- end }}
    {{ with .Params.rating -}}
      <dt>{{ i18n "section.read.rating" }}</dt>
      <dd>
        {{- if eq . 0 -}}☆☆☆☆☆
        {{- else if and (ge . 1) (lt . 2) -}}★☆☆☆☆
        {{- else if and (ge . 2) (lt . 3) -}}★★☆☆☆
        {{- else if and (ge . 3) (lt . 4) -}}★★★☆☆
        {{- else if and (ge . 4) (lt . 5) -}}★★★★☆
        {{- else -}}{{ . }}
        {{- end -}}
      </dd>
    {{- end }}
  </dl>

  <div class="content">
    {{ .Content }}
  </div>

{{- end }}
{{/* vim: set filetype=gohtmltmpl: */}}
